.container {
  margin: 0 auto;
  max-width: 1510px;
  width: 100%;
  padding-left: $x-offset-22;
  padding-right: $x-offset-22;

  @include respond-to(laptop) {
    width: 100%;
    max-width: 1270px;
    padding-left: $x-offset-22;
    padding-right: $x-offset-22;
  }

  @include respond-to(tablet) {
    width: 100%;
    max-width: none;
    padding-left: $x-offset-22;
    padding-right: $x-offset-22;
  }

  @include respond-to(mobile) {
    padding-left: $x-offset-22;
    padding-right: $x-offset-22;
  }
}
